{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {{ form_start(requestForm) }}
        <div class="form-group">
            {{ form_label(requestForm.username) }}
            {{ form_widget(requestForm.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(requestForm.username) }}
        </div>
        
        <button class="btn btn-primary">Envoyer le jeton</button>
    {{ form_end(requestForm) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}