{% extends 'base.html.twig' %}
{% block css %}
	<!-- Custom CSS -->
		<link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block meta_description %}
    Bienvenue sur l'application Todo List, un outil simple et pratique pour gérer toutes vos tâches efficacement !
{% endblock %}

{% block body %}

	<div class="row">
		<a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
		<a href="{{ path('task_list') }}" class="btn btn-primary">Toutes les tâches</a>
		<a href="{{ path('task_list_todo') }}" class="btn btn-warning">Tâches à faire</a>
		<a href="{{ path('task_list_done') }}" class="btn btn-info">Tâches terminées</a>
	
		{# Affiche le bouton "Gestion utilisateur" uniquement si l'utilisateur est admin #}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_user_list') }}" class="btn btn-info mt-3">Gestion utilisateur</a>
        {% endif %}
	</div>
	

{% endblock %}
