{% extends 'base.html.twig' %}

{% block header_title %}
<h1>Modifier
	{{ is_granted('ROLE_ADMIN') ? 'l\'utilisateur' : 'mon profil' }} <strong>{{ user.username }}</strong></h1>
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        
    </div>
{% endblock %}
